@import "tamaño";
@import "color";
main{
    section{
        div{
            div{
                h2{
                    font-size: $tamanoh2;
                    color: $colorh2;
                }
                p{
                    font-size: $tamanoPG;
                    color: $colorp;
                }
            }
        }
        div{
            h2{
                font-size: $tamanoh2;
                color: $colorh2;
            }
            p{
                font-size: $tamanoPG;
                color: $colorp;
            }
        }
    }
}
